<h1>Home Page</h1>
<br />
<div id="render_table"></div>

<div class="test"></div>

<h2>To Do</h1>
<form name="check_list_form">
	<input type="text" name="check_list_item"/>
</form>
<div id="button">Add!</div>
<br />
<div class="list"></div>
<br />
<div class="chessboard">

</div>


<br />
<%= link_to 'Play Chess!', "#" %>